#bg{
    background-color: burlywood;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#hd{
    font-family: cursive;
    font-style: italic;
    color: cadetblue;
}
